*{
            box-sizing: border-box;
     } 
	 
.container_12{
background-color:#EBECED ;
}

header{
background-color:#ffffff;
position:fixed;
height:98px;
border-top:3px solid;
border-top-color:red;
box-shadow:0 1px 0px #888888;
}

.logoImagen{
margin-top:10px;
}

.loginImagen{
margin-top:25px;
margin-left:18px;	
}

#menuBoton{
margin-top:26px;
}


#login{
color:black;
font-size:12px;
font-weight:bold;
}

.carritoImagen{
margin-top:25px;
}


#carritoNombre{
color:black;
font-size:12px;
font-style:initial;
font-weight: bold;
text-align:justify;
}

.titulo{
color:red;
font-style:italic;
margin-top:35px;
}

a{
	text-decoration:none;
}

#buscador{
margin-top:30px;

}
.buscadorTexto{
-webkit-border-radius:20px;
-moz-border-radius: 20px;
font-size:25px;
background-color:#EBECED;
}


#franja{
background-color:#862c2c;
padding-top:110px;
padding-bottom:30px;
}

#frajaTexto{
margin-left:25px;
color:#ffffff;
}

.carruselImagen{
width:960px;
margin-right:10px;
}


nav{	
margin-left:20px;	
margin-top:30px;
}


li{
margin-left:8px;
display:inline-block;	
list-style-type:none;
}

.textoSaludo{
font-size:23px;
font-style:Normal;
margin-top:35px;
margin-left:13px;
color:gray;
}

.holaTexto{
text-decoration: underline;
text-decoration-color: red;
-moz-text-decoration-color: red;
color:black;
}

.secciones{
	margin:3px;
}

.seccionPrincipal1{
margin-top:35px;
margin-left:8px;
text-decoration:none;
}

.seccionPrincipal2{
margin-top:10px;
margin-left:8px;
text-decoration:none;
}

#links1{
margin-top:20px;
}

#copyRight{
margin-left:220px;
}

.privacion{
text-decoration:none;	
color:black;
margin-left:20px;
}

#condicion{
margin-left:180px;
}

.condiciones{
text-decoration:none;	
color:black;
margin-left:20px;
}


#links2{
margin-top:25px;
}

#redesSociales{
margin-top:25px;
margin-left:25px;	
}

#mapa{
	margin-left:170px;
}


footer{
border-top:3px solid;
border-top-color:red;
margin-top:40px;
border-color:#ff0000;
background-color:#EAAAAA;
height:200px;
}
